.search-bar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;
    background-color: #fff;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex: 1; /* Ensures inputs take available space */
}

.icon {
    font-size: 1.6rem;
    color: #ee6e6e;
    margin-right: 0.5rem;
}

.input-content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows input content to take up space */
}

.input-label {
    font-size: 0.75rem;
    color: #333;
    margin-bottom: 0.25rem;
}

.search-input {
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%; /* Adjusts input to take full width of the wrapper */
    color: var(--heading-color);
    font-weight: 500;
    outline: none;
}

.search-input:focus {
    border-color: var(--secondary-color);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
}

.search-button i {
    font-size: 1.2rem;
}
